[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
telegram = "*"
python-telegram-bot = "*"
pandas = "*"
colorama = "*"
black = "==18.9b0"
cblack = "*"

[requires]
python_version = "3.7"
